<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>
<div><%= link_to 'Destroy', @article,
                method: :delete,
                data: { confirm: 'Are you sure?' } %></div>
