// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$black: #121212;
$main-color: #67bdca;

body {
  margin: 0;
}

.container {
  color: $black;
  background-color: $main-color;
  height: auto;
  padding: 40px 0;
}

.hero {
  margin-bottom: 40px;
}

.hero_title {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  img {
    width: 100%;
  }
}

.hero_copy {
  text-align: center;
  color: #fff;
}

.top_article {
  background-color: #fff;
  padding: 40px 30px 20px;
  box-sizing: border-box;
  width: 100%;
}
.top_article_date {
  margin: 0 0 10px;
}

.top_article_title {
  font-size: 1.5rem;
  text-decoration: none;
  color: $black;
  transition: 0.2s ease-in;
  &:hover {
    color: $main-color;
    transition: 0.2s ease-in;
  }
}

.top_article_block {
  margin-bottom: 20px;
}

.top_profile{
  margin-left: 40px;
  background-color: #fff;
  padding: 20px;
  max-width: 200px;
  @media screen and (max-width:768px){
    max-width: 100%;
    margin: 40px 0;
  }
}

.top_profile_headline {
  font-weight: bold;
  margin: 0 0 10px;
}

.top_profile_image {
  width: 200px;
  margin: 0;
  img {
    width: 100%;
  }
}

.top_layout {
  display: flex;
  width: 85%;
  margin: 0 auto;
  max-width: 1200px;
  @media screen and (max-width:768px){
    flex-direction: column;
  }
}

.top_profile_detail {
  list-style: none;
  padding: 0;
  li {
    margin-bottom: 10px;
  }
  .auther_name {
    font-weight: bold;
  }
  .profile_text {
    font-size: 0.875rem;
    span {
      font-weight: bold;
    }
  }
  .profile_hobby {
    font-size: 0.875rem;
    span {
      font-weight: bold;
    }
  }
}

.show {
  width: 80%;
  max-width: 1000px;
  margin: 40px auto;
  background-color: #fff;
  padding: 40px;
}

.link_back {
  display: inline-block;
  background-color: #ffa022;
  color: #fff;
  text-decoration: none;
  padding: 20px 40px;
  letter-spacing: 0.1em;
  border: 2px solid #ffa022;
  transition: 0.2s ease-in;
  font-weight: bold;
  &:hover{
    background-color: #fff;
    color: #ffa022;
    transition: 0.2s ease-in;
  }
}

.article_buttonArea {
  margin: 40px auto 80px;
  width: 80%;
  max-width: 1200px;
  text-align: center;
}

.article_new {
  width: 80%;
  margin: 0 auto;
  input[type="text"] {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
  }
  textarea {
    width: 100%;
    padding: 5px;
    min-height: 600px;
    box-sizing: border-box;
  }
  input[type="submit"] {
    appearance: push-button;
    user-select: none;
    white-space: pre;
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: #fff;
    background-color: #ffa022;
    box-sizing: border-box;
    padding: 10px 40px;
    border-width: 0;
    border-style: none;
    border-color: none;
    border-image: none;
  }
}